.a-progress {
  background-color: hsl(199, 15%, 35%);
  border-radius: 100px;
  height: 0.5em;
  transition-duration: 0.5s;
  &-line {
    display: block;
    height: 0.5em;
    width: 0px;
    min-width: 0.5em;
    border-radius: 100px;
    background-color: #9a7c58;
    background-color: hsl(199, 56%, 52%);
    box-shadow: 0 0 0.5em hsl(209, 76%, 82%);
    transition: all 0.5s ease;
    border: 1px solid #ffffff36;
  }
}
